Debug/Food Ordering System.exe
Debug/Food Ordering System.exe.recipe
Debug/Food Ordering System.ilk
Debug/Food Ordering System.log
Debug/Food Ordering System.pdb
Debug/Food Ordering System.vcxproj.FileListAbsolute.txt
Debug/Food Ord.c4ea73b4.tlog/Food Ordering System.lastbuildstate
Debug/Food Ord.c4ea73b4.tlog/link.command.1.tlog
Debug/Food Ord.c4ea73b4.tlog/link.read.1.tlog
Debug/Food Ord.c4ea73b4.tlog/link.write.1.tlog
Debug/Food Ord.c4ea73b4.tlog/Masm.read.1u.tlog
Debug/Food Ord.c4ea73b4.tlog/Masm.write.1u.tlog
Debug/Food Ord.c4ea73b4.tlog/unsuccessfulbuild
x64/Debug/Food Ordering System.log
x64/Debug/Food Ord.c4ea73b4.tlog/Food Ordering System.lastbuildstate
x64/Debug/Food Ord.c4ea73b4.tlog/Masm.read.1u.tlog
x64/Debug/Food Ord.c4ea73b4.tlog/Masm.write.1u.tlog
x64/Debug/Food Ord.c4ea73b4.tlog/unsuccessfulbuild
*.db
.vs/Food Ordering System/v17/Current/Browse.VC.opendb
